@import "../../tools/colors.scss";

.pokemon-about {
  font-size: 0.8em;
}

.pokemon-about__description {
  text-align: justify;
}

.pokemon-about__info {
  display: flex;
  text-transform: capitalize;

  &__category {
    flex: 0 1 100px;
    font-weight: bold;
    color: $navigation-color;
  }
}
