.pokemon-page__types-container {
  font-size: 0.8em;
  font-weight: bold;
  color: #fff;

  &__type {
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    margin: 2px;
    padding: 5px 15px;
    text-align: center;
  }
}

.pokemon-page__name {
  text-transform: capitalize;
  color: #fff;
  font-size: 1.8em;
  padding: 5px 15px;
}

.pokemon-page__id {
  color: #fff;
  opacity: 0.5;
  float: right;
}

.pokemon-page__img-container {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
