@import "../../tools/colors.scss";

.pokemon__header {
  padding: 20px;
  border-radius: 20px;
}

.pokemon-page__types-container {
  font-size: 0.8em;
  font-weight: bold;
  color: #fff;

  &__type {
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    margin: 2px;
    padding: 5px 15px;
    text-align: center;
  }
}

.pokemon-page__name {
  text-transform: capitalize;
  color: #fff;
  font-size: 1.8em;
  padding: 5px 15px;
}

.pokemon-page__id {
  color: #fff;
  opacity: 0.5;
  float: right;
  max-height: 85vh;
}

.pokemon-page__img-container {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.pokemon-info {
  &__content {
    padding: 20px;
    background-color: inherit;
    border-radius: 20px;
    position: relative;
    top: -50px;
  }

  &__navigation {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid #f8f8f8;

    &__link {
      padding: 10px 5px;
      text-decoration: none;
      font-size: 0.8em;
      font-weight: bold;
      color: $navigation-color;

      &--selected {
        color: $navigation-color-selected;
        box-shadow: 0 2px 0px 0px $navigation-selected-underline;
      }
    }
  }
}
