@import "../../../tools/colors.scss";

.pagination__link {
  color: #000;
  cursor: pointer;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  &:hover {
    background-color: $pagination-hover;
  }

  &--previous,
  &--next {
    background-color: $pagination-arrow-bcg;
    color: $pagination-arrow;
    position: relative;

    &::before {
      font-weight: bold;
      font-size: 14px;
    }
  }

  &--previous {
    margin-right: 30px;

    &::before {
      content: "PREV";
    }
  }

  &--next {
    margin-left: 30px;

    &::before {
      content: "NEXT";
    }
  }

  &--current {
    color: $pagination-current;
    background-color: $pagination-current-bcg;
  }

}
