$pokedex-background-color: #fff;
$pokedex-shadow-color: #cdd0d8;
$pokedex-font-color: #323c46;

$pagination-arrow-bcg: #515558;
$pagination-arrow: #fff;
$pagination-current-bcg: #e7444b;
$pagination-current: #fff;
$pagination-hover: #dadada;

$navigation-color: #bbbbbb;
$navigation-color-selected: #585c5f;
$navigation-underline: #f8f8f8;
$navigation-selected-underline: #777da8;

$pokemon-category-title: $navigation-color-selected;
$pokemon-category-info: $navigation-color;
